<<<<<<< HEAD
<h1>About page</h1>

<p>
    <%= @about_me %>
</p>

<p>
  Feel free to store you friends' information with us.
=======
<h1>About page</h1>

<p>
    <%= @about_me %>
</p>

<p>
    <%= @answer %>
>>>>>>> 2eda5d353b2f84d0c00691f5697acfd9df3df289
</p>